textarea{
    resize: none;
    border: none;
    padding: 10px 12px;
    border-radius: 12px;
}

body{
    background-color: #d0edff;
}

.card{
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: rgba(239, 203, 245, .7);
    border: #e1a0e7 solid 2px;
    border-radius: 12px;
    padding: 18px;
}

#columns{
    display: flex;
}

.column{
    width: 25%;
    text-align: center;
    padding: 0 20px;
}

.change{
    border-top: cadetblue 2px dotted;
    margin-top: 20px;
}

ul{
    padding: 0;
    margin-bottom: 0px;
}

li{
    list-style-type: none;
    margin: 10px;
}

button{
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #e1a0e7;
    margin-top: 15px;
}

button:hover{
    background-color: #b983be;
    cursor: pointer;
    transition: 0.5s;
    color: #3821b4;
}

#inTime{
    color: darkolivegreen;
    text-decoration: underline;
}

#notInTime {
    color: firebrick;
    text-decoration: underline;
}

.title{
    margin-bottom: 25px;
}

#form {
    margin: 50px 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

.button{
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #e1a0e7;
    margin-top: 15px;
    margin-bottom: -40px;
}

.button:hover{
    background-color: #b983be;
    cursor: pointer;
    transition: 0.5s;
    color: #3821b4;
}

input{
    border: none;
    width: 200px;
    padding: 10px 12px;
    border-radius: 12px;

}

.pForm{
    margin-top: 35px;
}